<!DOCTYPE html>
<html lang="en-US">
<head>
</head>

<body style="background-color:#99ccff;">

<h1 style="font-family:verdana;">ABOUT</h1>


</body>
</html>

<p style="font-family:verdana;"> Founder: Bryan Cole Varie </p>
<p style="font-family:verdana;"> Est:2018 </p>
<p style="font-family:verdana;"> The best time to start believing in YOURSELF,Is when everybody stops believing in YOU </p>
<p style="font-family:verdana;"> If You love Technology then why are You not coding? </p>

<%= link_to 'home', root_path %>