<!DOCTYPE html>
<html lang="en-US">
<head>
</head>

<body style="background-color:#99ccff;">

<h1 style="font-family:verdana;">HOME</h1>


<%= image_tag 'logo.jpg' %>

<p style="font-family:verdana;"> Founder: Bryan Cole Varie </p>
<p style="font-family:verdana;"> Est:2018 </p>



</body>
</html>

<%= link_to 'about', about_path %>